html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header h1 {
    font-size: 2.5rem;
}

.navbar-nav .nav-item .nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.container {
    flex-grow: 1;
}

.content h2 {
    color: #40c550;
}

.content h3 {
    margin-top: 40px;
    font-size: 2rem;
    color: #1a73e8;
    text-align: center;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f0f8ff;
}

.list-group-item strong {
    color: #1a73e8;
}


footer p {
    margin: 0;
}

