html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header h1 {
    font-size: 2.5rem;
}

.navbar-nav .nav-item .nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.container {
    flex-grow: 1;
}

.content h2 {
    color: #40c550;
}

footer p {
    margin: 0;
}


 .cards {
            display: flex;                /* Usar Flexbox */
            flex-wrap: wrap;             /* Permite que las tarjetas se envuelvan */
            justify-content: space-around; /* Distribuir tarjetas uniformemente */
            margin: 20px 0;               /* Espaciado vertical */
           
        }

        .card {
            width: 18rem; /* Ancho de cada tarjeta */
            margin: 10px; /* Espacio entre las tarjetas */
            border-radius: 1rem;
        }